@media screen and (max-width: 1100px) {
    .loadscreen video {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width: 980px) {
    :root {
        --font-size: 0.8rem;
    }
}
@media screen and (max-width: 940px) {
    :root {
        --hpad: 2rem;
    }
    #menu-vid {
        width: 200px;
        height: auto;
    }
    .menu-area, .menu-areaback {
        width: 60px;
        height: 60px;
    }
    .menu-vidwrapper {
        bottom: -25px;
        right: -10px;
    }
}

@media screen and (max-width: 700px) {
    #about {
        flex-direction: column;
        gap: 4rem;
        padding: 2rem;
        justify-content: center;
    }
    .profile {
        width: 200px;
    }
}
@media screen and (orientation: portrait) {
    .bawal {
        opacity: 1;
    }
}