
@media screen and (max-width: 980px) {
    :root {
        --font-size: 0.8rem;
    }
}
@media screen and (max-width: 700px) {
    :root {
        --hpad: 2rem;
    }
}
@media screen and (orientation: portrait) {
    .bawal {
        opacity: 1;
    }
}