
@media screen and (max-width: 980px) {
    :root {
        --font-size: 0.8rem;
    }
}
@media screen and (max-width: 940px) {
    :root {
        --hpad: 2rem;
    }
    #menu-vid {
        width: 200px;
        height: auto;
    }
    .menu-area, .menu-areaback {
        width: 60px;
        height: 60px;
    }
    .menu-vidwrapper {
        bottom: -25px;
        right: -10px;
}
}

@media screen and (orientation: portrait) {
    .bawal {
        opacity: 1;
    }
}