.menu-area, .menu-areaback {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.menu-areaback {
    background-color: rgba(36, 36, 36, 0.8);
    pointer-events: none;
}

.menu-vidwrapper {
    position: fixed;
    bottom: -40px;
    right: -20px;
    pointer-events: none;
}
.menu-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 100px;
    right: -50vw;
    width: 30vw;
    opacity: 1;
    gap: 4px;
    transition: all 1s ease-out;
    transition-delay: .6s;
}

.menu-links.active {
    right: 0px;
    transition: all 1s ease-out;
    transition-delay: .6s;
}
.menu-links a {
    width: 100%;
    background-color: rgba(36, 36, 36, 0.8);
}