.menu-area, .menu-areaback {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    z-index: 100;
}

.menu-areaback {
    background-color: rgba(36, 36, 36, 0.8);
    pointer-events: none;
}

.menu-vidwrapper {
    position: fixed;
    bottom: -40px;
    right: -20px;
    pointer-events: none;
    z-index: 100;
}
.menu-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: -50vw;
    width: 50vw;
    opacity: 1;
    gap: 4px;
    transition: all 1s ease-out;
    transition-delay: .6s;
    background-image: linear-gradient(to left, black , transparent );
    height: 100vh;
    justify-content: space-evenly;
    align-items: flex-end;
}

.menu-links.active {
    right: 0px;
    transition: all 1s ease-out;
    transition-delay: .6s;
}
.menu-links a {
    width: 40%;
    color: white;
    /* background-color: rgba(36, 36, 36, 0.8); */
}
.neg {
    pointer-events: none;
}