nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--navheight);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    color: var(--bg1text);
    padding: 0px var(--hpad);
    z-index: 10;
}
.nav-contents {
    justify-content: space-between;
    gap: 1rem;
}
.nav-left {
    gap: 1rem;
}
.nav-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg1text);
}
