.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0vw;
    height: 100vh;
    transition: left 1s ease-out;
}
.nav-wrapper.hidden {
    left: -50vw;
    transition: left 1s ease-out;
}
.scroll-holder {
    position: absolute;
    left: 16px;
    top: 0;
    height: 100vh;
}
.custom-scrollbar {
    position: relative;
    background-color: white;
    width: 1px;
    height: calc(100%);
    margin: 190px 0 100px 0;
    /* padding: 1rem 0 1rem 0; */
}
/* .track {
    background-color: transparent;
    width: 1px;
    height: 0%;
    transition: height 0.3s ease-out;
} */
.thumb {
    background-color: var(--accent0);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0%;
    transition: top 100s linear;
}
.thumb.home-point {
    top: 0.1%;
    transition: top 0.3s linear;
}
.thumb.about-point {
    top: 20%;
    transition: top 0.3s linear;
}
.thumb.gallery-point {
    top: 40%;
    transition: top 0.3s linear;
}
.thumb.services-point {
    top: 60%;
    transition: top 0.3s linear;
}
.thumb.TOS-point {
    top: 80%;
    transition: top 0.3s linear;
}
.thumb.contact-point {
    top: 100%;
    transition: top 0.3s linear;
}
.hamburger {
    position: fixed;
    gap: 5px;
    top: 140px;
    left: 16px;
}
.hamburger span {
    width: 22px;
    height: 3px;
    background-color: white;
}
.nav-holder {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100vh;
}
.nav-links {
    height: 100%;
    padding: calc(180px) 0 calc(110px) 0;
    justify-content: space-between;
    align-items: start;
    text-align: left;
}
.nav-links > a {
    font-size: calc(var(--font-size) - .2rem);
    color: white;
    transition: all 0.3s ease;
    height: 0;
    padding: 0 10px 0 10px;
}
.nav-links > a:hover {
    text-shadow: 0 0 40px white;
}
.nav-links > a.active {
    color: var(--accent0);
    /* font-size: calc(var(--font-size) + .3rem); */
    scale: 2;
    transform: translate(9px, 0);
    transition: all 0.3s ease;
}

.section-labels {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100vw;
    color: white;
}
.section-labels > div {
    display: none;
    font-size: calc(var(--font-size) + .7rem);
}
.section-labels > div.active {
    display: flex;
    animation-name: to-top;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes to-top {
    0% {
        opacity: 0;
        transform: translate(0, 40px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.section-labels img {
    width: 250px;
    height: auto;
    position: absolute;
}

.section-nums img {
    width: 600px;
    height: auto;
}
.section-nums h1 {
    position: absolute;
    color: black;
    top: 5px;
    right: 45px;
    font-size: calc(var(--font-size) + 2.8rem);
    height: inherit;
}
.section-nums {
    position: fixed;
    top: 30px;
    left: 10px;
    opacity: 0;
}
.section-nums.animate {
    animation-name: slideTo-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slideTo-left {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: -450px;
        opacity: 1;
    }
}
.section-nums > h1 {
    display: none;
}
.section-nums > h1.active {
    display: flex;
    animation-name: to-left;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes to-left {
    0% {
        opacity: 0;
        transform: translate(40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* .top-line-wrapper {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}
.top-line {
    position: absolute;
    top: 13px;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 0 16px 0 16px;
    gap: 300px;
}
.right, .left {

}

.top-line span {
    height: 5px;
    background-color: white;
}
.top-line .line {
    flex-grow: 1;
    width: 100%;
}
.left .bend {
    width: 50px;
    rotate: 45deg;
}
.right .bend {
    width: 50px;
    
    rotate: -45deg;
} */

.top-line-wrapper {
    position: fixed;
    top: 14px;
    left: 0;
    width: 100vw;
}
.top-line {
    gap: 200px;
    width: 100%;
}
.right, .left {
    width: 50%;
    padding: 0 16px 0 16px;
}
.top-line span {
    height: 1px;
    width: 40px;
    background-color: white;
    border-radius: 2px;
}
.line {
    flex-grow: 1;
}
.left .bend {
    rotate: 45deg;
    translate: -6px 14.5px;
}
.right .bend {
    rotate: -45deg;
    translate: 6px 14.5px;
}

.indicator-holder {
    position: fixed;
    bottom: 10px;
    left: 0;
    height: 10px;
    width: 100vw;
    padding: 0 16px 0 16px;
}
.section-indicator {
    width: 100%;
    height: 100%;
    user-select: none;
    color: transparent;
    gap: 10px;
}
.section-indicator > div {
   flex-grow: 1;
   transition: flex-grow 0.3s ease-in;
   height: 100%;
   background-color: rgb(36, 36, 36);
}
.section-indicator > div.active {
   flex-grow: 2;
   transition: flex-grow 0.3s ease-out;
   background-color: var(--accent0);
}

.play-music {
    position: fixed;
    top: 1rem;
    right: 6px;
    border-radius: 10px;
    padding: 0 15px 5px 15px;
    margin: 10px;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    background-color: transparent;
    user-select: none;
}
.play-music:hover {
    background-color: rgba(0, 0, 0, 0.452);
}
.play-music:active {
    background-color: transparent;
    color: var(--accent0);
    border: 2px solid var(--accent0);
}

.follow-mouse {
    position: fixed;
    user-select: none;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.2s ease-out;
    top: 0;
    left: 0;
    z-index: 101;
}
.follow-mouse img {
    width: 80px;
    height: auto;
}

