.popup-wrapper {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100vw;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.popup {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: .8rem;
}

.popup-wrapper.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.skip {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: .8rem;
    transition: all 0.3s ease;
}

.skip:hover {
    background-color: rgba(255, 255, 255, 0.678);
    color: black;
    transition: all 0.3s ease;
}
.top-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55px;
    background-color: white;

}

.play-music {
    position: fixed;
    top: 60px;
    right: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.25);
    user-select: none;
}
.play-music img {
    width: 16px;
    height: auto;
}
.play-music:hover {
    background-color: rgba(0, 0, 0, 0.452);
}
.play-music:active {
    background-color: transparent;
    color: var(--accent0);
    border: 2px solid var(--accent0);
}
.music-icon, .pause-icon {
    display: none;
}
.music-icon.active, .pause-icon.active {
    display: flex;
}
.top-right {
    position: fixed;
    top: 0px;
    right: 0;

}
.top-right img {
    height: auto;
    width: 250px;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0vw;
    height: 100vh;
    transition: left 1s ease-out;
}
.nav-wrapper.hidden {
    left: -50vw;
    transition: left 1s ease-out;
}
.nav-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.473), transparent);
    height: 100%;
    width: 200px;
}
.scroll-holder {
    position: absolute;
    left: 16px;
    top: 0;
    height: 100vh;
}
.custom-scrollbar {
    position: relative;
    background-color: white;
    width: 1px;
    height: calc(100%);
    margin: 190px 0 100px 0;
    box-shadow: 0 0 4px rgb(44, 44, 44);
}

.thumb {
    background-color: var(--accent0);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0%;
    transition: top 100s linear;
}
.thumb.home-point {
    top: 0.1%;
    transition: top 0.3s linear;
}
.thumb.about-point {
    top: 20%;
    transition: top 0.3s linear;
}
.thumb.gallery-point {
    top: 40%;
    transition: top 0.3s linear;
}
.thumb.services-point {
    top: 60%;
    transition: top 0.3s linear;
}
.thumb.TOS-point {
    top: 80%;
    transition: top 0.3s linear;
}
.thumb.contact-point {
    top: 100%;
    transition: top 0.3s linear;
}
.hamburger {
    position: fixed;
    gap: 5px;
    top: 140px;
    left: 16px;
}
.hamburger span {
    width: 22px;
    height: 3px;
    background-color: white;
    box-shadow: 0 0 4px rgb(44, 44, 44);
}
.nav-holder {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100vh;
}
.nav-links {
    height: 100%;
    padding: calc(180px) 0 calc(110px) 0;
    justify-content: space-between;
    align-items: start;
    text-align: left;
}
.nav-links > a {
    font-size: calc(var(--font-size) - .2rem);
    color: white;
    transition: all 0.3s ease;
    height: 0;
    padding: 0 10px 0 10px;
    text-shadow: 0 0 4px rgb(0, 0, 0);
}
.nav-links > a:hover {
    text-shadow: 0 0 40px white;
}
.nav-links > a.active {
    color: var(--accent0);
    /* font-size: calc(var(--font-size) + .3rem); */
    scale: 2;
    transform: translate(9px, 0);
    transition: all 0.3s ease;
}

.section-labels {
    position: fixed;
    top: 16px;
    left: 0;
    width: 100vw;
}

@keyframes to-top {
    0% {
        opacity: 0;
        transform: translate(0, 40px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.section-labels img {
    width: 250px;
    height: auto;
    position: absolute;
    top: -6px;
}

.section-nums img {
    width: 450px;
    height: auto;
}
.section-nums h1 {
    position: absolute;
    color: black;
    top: 68px;
    right: 190px;
    font-size: calc(var(--font-size) + 2rem);
    height: inherit;
}
.section-nums {
    position: fixed;
    top: -10px;
    left: 100px;
    opacity: 0;
    pointer-events: none;
}
.section-nums.animate {
    animation-name: slideTo-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slideTo-left {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: -150px;
        opacity: 1;
    }
}
.section-nums > h1 {
    display: none;
}
.section-nums > h1.active {
    display: flex;
    animation-name: to-left;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes to-left {
    0% {
        opacity: 0;
        transform: translate(40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.top-line-wrapper {
    position: fixed;
    top: 14px;
    left: 0;
    width: 100vw;
}
.top-line {
    gap: 200px;
    width: 100%;
}
.right, .left {
    width: 50%;
    padding: 0 16px 0 16px;
}
.top-line span {
    height: 2px;
    width: 40px;
    background-color: black;
    border-radius: 2px;
}
.line {
    flex-grow: 1;
}
.left .bend {
    rotate: 45deg;
    translate: -6px 14.5px;
}
.right .bend {
    rotate: -45deg;
    translate: 6px 14.5px;
}

.indicator-holder {
    position: fixed;
    bottom: 10px;
    left: 0;
    height: 5px;
    width: 100vw;
    padding: 0 16px 0 16px;
}
.section-indicator {
    width: 100%;
    height: 100%;
    user-select: none;
    gap: 10px;
}
.section-indicator > div {
   flex-grow: 1;
   transition: flex-grow 0.3s ease-in;
   height: 100%;
   background-color: rgb(36, 36, 36);
}
.section-indicator > div.active {
   flex-grow: 2;
   transition: flex-grow 0.3s ease-out;
   background-color: var(--accent0);
}

.label {
    position: absolute;
    top: -35px;
    font-size: calc(var(--font-size) + .1rem);
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s ease;
    color: white;
}
.label.active {
    /* animation-name: to-top;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; */
    text-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 1;
    transition: all 0.5s ease;
}

.follow-mouse {
    position: fixed;
    user-select: none;
    pointer-events: none;
    will-change: transform;
    transition: transform 0.2s ease-out;
    top: 0;
    left: 0;
}
.follow-mouse img {
    width: 80px;
    height: auto;
}

/* .testing-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    perspective: 800px;
    perspective-origin: center center;
}
.testing {
    position: absolute;
    height: 20vh;
    width: 50vw;
    background-color: gray;
    animation-name: flipx;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    transform-style: preserve-3d;
}

.testing:hover {
    animation-play-state: running;
}

@keyframes flipx {
    0%{

    }
    100% {
        transform: rotateY(180deg)
    }
} */