@import url(/css/menu.css);
.scroll-holder {
    position: absolute;
    left: 16px;
    top: 0;
    z-index: 10;
    height: 100vh;
}
.custom-scrollbar {
    background-color: white;
    width: 1px;
    height: calc(100%);
    margin: 180px 0 80px 0;
    padding: 1rem 0 1rem 0;
}
.track {
    background-color: transparent;
    width: 1px;
    height: 0%;
    transition: height 0.3s ease-out;
}
.thumb {
    background-color: var(--accent0);
    width: 10px;
    height: 10px;
}

.nav-holder {
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 10;
    height: 100vh;
}
.nav-links {
    height: 100%;
    padding: calc(180px + 1rem) 0 calc(80px + 1rem) 0;
    justify-content: space-between;
    align-items: start;
    text-align: left;
}
.nav-links > a {
    font-size: calc(var(--font-size) - .2rem);
    color: white;
    transition: all 0.3s ease;
}
.nav-links > a:hover {
    text-shadow: 0 0 40px white;
}
.nav-links > a.active {
    color: var(--accent0);
    font-size: calc(var(--font-size) + .3rem);
    transition: all 0.3s ease;
}
.indicator-holder {
    position: fixed;
    bottom: 10px;
    left: 0;
    height: 10px;
    width: 100vw;
    z-index: 10;
    padding: 0 16px 0 16px;
}
.section-indicator {
    width: 100%;
    height: 100%;
    user-select: none;
    color: transparent;
    gap: 10px;
}
.section-indicator > div {
   flex-grow: 1;
   transition: flex-grow 0.3s ease-in;
   height: 100%;
   background-color: rgb(36, 36, 36);
}
.section-indicator > div.active {
   flex-grow: 2;
   transition: flex-grow 0.3s ease-out;
   background-color: var(--accent0);
}

.follow-mouse {
    position: fixed;
    user-select: none;
    pointer-events: none;
    z-index: 100;
    will-change: transform;
    transition: transform 0.2s ease-out;
}
.follow-mouse img {
    width: 100px;
    height: auto;
}

.overlays img {
    width: 600px;
    height: auto;
}
.overlays h1 {
    position: absolute;
    color: black;
    top: 5px;
    right: 45px;
    font-size: calc(var(--font-size) + 2.8rem);
    height: inherit;
}
.overlays {
    position: fixed;
    top: 30px;
    left: 10px;
    opacity: 0;
    z-index: 10;
}
.overlays.animate {
    animation-name: slideTo-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slideTo-left {
    0% {
        left: 0;
        opacity: 0;
    }
    100% {
        left: -450px;
        opacity: 1;
    }
}
.overlays > h1 {
    display: none;
}
.overlays > h1.active {
    display: flex;
    animation-name: to-left;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes to-left {
    0% {
        opacity: 0;
        transform: translate(40px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.overlays-1 {
    position: fixed;
    top: 13px;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    z-index: 12;
}
.overlays-1 img {
    height: auto;
    width: 500px;
}
.section-labels {
    position: fixed;
    z-index: 12;
    top: 10px;
    left: 0;
    width: 100vw;
    color: white;
}
.section-labels > div {
    display: none;
    font-size: calc(var(--font-size) + .7rem);
}
.section-labels > div.active {
    display: flex;
    animation-name: to-top;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes to-top {
    0% {
        opacity: 0;
        transform: translate(0, 40px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.hamburger {
    position: fixed;
    gap: 5px;
    top: 140px;
    left: 16px;
}
.hamburger span {
    width: 22px;
    height: 3px;
    background-color: white;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0vw;
    height: 100vh;
    z-index: 10;
    transition: left 1s ease-out;
}
.nav-wrapper.hidden {
    left: -50vw;
    transition: left 1s ease-out;
}
.play-music {
    position: fixed;
    top: 1rem;
    right: 0;
    border-radius: 10px;
    padding: 0 15px 5px 15px;
    margin: 10px;
    border: 2px solid white;
    color: white;
    z-index: 11;
    font-size: 2rem;
    background-color: transparent;
    user-select: none;
}
.play-music:hover {
    background-color: rgba(0, 0, 0, 0.452);
}
.play-music:active {
    background-color: transparent;
    color: var(--accent0);
    border: 2px solid var(--accent0);
}