.parallax {
    position: relative;
    height: calc(100vh - var(--navheight));
    width: 100vw;
    overflow: hidden;
    background-image: url('/assets/images/home/home-parallax/1.png');
    background-size: cover;
    background-position: center;
    color: var(--bg2text);
}

.parallax-layer:nth-child(1) {
    background-image: url('/assets/images/home/home-parallax/2.png');
}
.parallax-layer:nth-child(2) {
    background-image: url('/assets/images/home/home-parallax/3.png');
}
.parallax-layer:nth-child(3) {
    background-image: url('/assets/images/home/home-parallax/4.png');
}
.parallax-layer:nth-child(4) {
    background-image: url('/assets/images/home/home-parallax/5.png');
}
.parallax-layer:nth-child(5) {
    background-image: url('/assets/images/home/home-parallax/6.png');
}
.parallax-layer:nth-child(6) {
    background-image: url('/assets/images/home/home-parallax/7.png');
}
.parallax-layer:nth-child(7) {
    background-image: url('/assets/images/home/home-parallax/8.png');
}
.parallax-layer:nth-child(8) {
    background-image: url('/assets/images/home/home-parallax/9.png');
}
.parallax-layer:nth-child(9) {
    background-image: url('/assets/images/home/home-parallax/10.png');
    scale: 1.27;
}
.parallax-layer:nth-child(10) {
    background-image: url('/assets/images/home/home-parallax/11.png');
    scale: 1.27;
}
.parallax-layer:nth-child(11) {
    background-image: url('/assets/images/home/home-parallax/12.png');
    scale: 1.27;
}
.parallax-layer {
    width: 120%;
    height: 120%;
    position: absolute;
    top: -10%;
    left: -10%;
    background-size: cover;
    background-position: center;
    will-change: transform;
    pointer-events: none;
    transition: all 0.3s ease-out;
}
.parallax-title {
    gap: 2rem;
    position: relative;
    height: 100%;
    text-align: center;
    user-select: none;
}
.parallax-big-title {
    font-family: 'aquire';
    font-size: calc(var(--font-size) + 5rem);
    text-shadow: 0 0 8px white;
    background-color: white;
    background-image: url(/assets/images/home/design\ asset.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110%;
    background-position: center;
    height: 400px;
    width: 700px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-duration: 1s;
}
.parallax-title {
    animation-name: floating;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.arrow-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;
}
.arrow-holder a {
    animation-name: floating;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    pointer-events: all;
    user-select: none;
}
@keyframes to-left-new {
    0% {
        opacity: 0;
        transform: translate(20vw, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes floating {
    0% {
        transform: translate(0, -15px);
        opacity: 0.85;
    }
    100% {
        transform: translate(0, 15px);
        opacity: 1;
    }
}