.section1 {
    background-color: var(--bg1);
    color: var(--bg1text);
}
.section2 {
    background-color: var(--bg2);
    color: var(--bg2text);
}
.title {
    width: 100%;
    text-align: center;
}
#about {
    position: relative;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 7rem;
    background-image: url(/assets/images/sections/aboutbg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: auto;
}
.about-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.35); */
}
.chibi {
    position: absolute;
    top: 70%;
    left: 90%;
    transition: all 1s ease;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.chibi1 {
    position: absolute;
    top: 17%;
    left: 30%;
    transition: all 1s ease;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.chibi img, .chibi1 img {
    height: 18vh;
    width: auto;
}
@keyframes go-right {
    0%{
        transform: translate(0px 0);
    }
    100%{
        transform: translate(-200px 0)
    }
}
@keyframes go-left {
    0%{
        transform: translate(-200px 0);
    }
    100%{
        transform: translate(0px 0)
    }
}
.profile {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 400px;
    height: auto;
    background-color: white;
    overflow: hidden;
}
.profile img {
    aspect-ratio: auto;
    height: 100%;
    width: auto;
}
.profile:hover {
    scale: 1.1;
}
#about .content {
    position: relative;
}
#about .content p {
    color: black;
}
#services {
    background-image: url(/assets/images/sections/Illustration\ practice\ 1\ actual.webp);
    position: relative;
    justify-content: space-evenly;
    /* gap: 5rem;
    padding: 7rem; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: auto;
}
section:has(.services-columns) {
    gap: 0;
    padding: 0;
}
.services-columns {
    height: 100vh;
    width: 100vw;
}
.services-columns > div {
    flex-grow: 1;
    height: 100%;
    width: 25%;
    overflow: hidden;
}
.services-columns > div img {
    height: 100%;
    width: auto;
    transition: scale 0.3s ease;
}
.services-columns > div img:hover {
    scale: 1.1;
    transition: scale 0.3s ease;
}
.services-columns > div p {
    position: absolute;
    color: black;
    font-size: 2rem;
}
#gallery {
    background-image: url(/assets/images/sections/illustration67.webp);
    position: relative;
    justify-content: end;
    gap: 1rem;
    padding-top: 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: auto;
}
#TOS {
    background-image: url(/assets/images/sections/Illustration71.webp);
    position: relative;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: auto;
}
#contact {
    background-image: url(/assets/images/sections/Illustration92.webp);
    position: relative;
    justify-content: space-evenly;
    gap: 5rem;
    padding: 7rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: auto;
}