@font-face {
    font-family: 'futura';
    src: url(/fonts/futura/futura\ medium\ bt.ttf);
}
@font-face {
    font-family: 'aquire';
    src: url(/fonts/aquire/Aquire.otf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: 'futura';
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    background-color: rgb(15, 15, 15);
}
html::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: calc(var(--font-size) + 1rem);
    font-family: 'aquire';
}
p {
    font-family: 'futura';
    font-size: calc(var(--font-size) + 0.2rem);
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 100vw;
    min-height: calc(100vh);
    max-height: fit-content;
    gap: var(--title-content-gap);
    padding: var(--vpad) var(--hpad);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.content {
    width: 100%;
}
.scale-onhover:hover {
    scale: 1.1;
    transition: all 0.3s ease;
}
.textbox {
    gap: 1rem;
}
.textbox * {
    text-align: left;
    width: 100%;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loadscreen {
    z-index: 100;
    pointer-events: none;
    user-select: none;
    opacity: 1;
    background-color: black;
}
.loadscreen video {
    width: 125%;
    height: auto;
    aspect-ratio: auto;
}
.loadscreen.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}